<div class="container py-5 my-5 text-center">
  <h2 class="main-heading">Why you must donate</h2>
  <hr class="underline">
  <p class="main-content mb-3">An act of kindness lasts long. It gives you a feeling of satisfaction and fulfillment. a
    lot
    of people want to work for social causes but because of their busy lives, they are not able to go on-ground and
    render their contribution so it is therefore advisable to help us (Course of help) for social upliftment. There are
    numerous people children and people who are deprived of essentials like healthcare, safety, education, shelter etc.
  </p>
  <p class="main-content mb-3">So, we welcome you to donate in any form which concerns the basics of saving flora, fauna
    as
    well as human, as our aim is to ensure no species on the earth is mistreated. a limited contribution goes on create
    a large impact.</p>
  <p class="main-content mb-3">Donating to organization like Course of help will only leave you feeling richer and will
    bring
    in an unparalleled sense of fulfillment.</p>
</div>