<div class="container mb-5 px-4 our-stories-wrapper" [ngStyle]="{'margin-top.px': heroHeight}">
  <div class="text-center">
    <h1 class="main-heading">Our Stories</h1>
    <hr class="underline">
    <p class="main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolor deserunt temporibus
      iste, dignissimos accusantium quae libero quam! Laudantium, cum! Suscipit autem voluptates ratione aperiam minima
      laboriosam exercitationem, harum sequi corporis reiciendis sint officia tenetur odio repellendus dolor ipsam?
      Quidem omnis suscipit praesentium repudiandae earum at incidunt aspernatur fuga, molestias, magnam, ab qui
      veritatis velit ducimus modi porro impedit quisquam.</p>
  </div>
  <div class="row mt-5">
    <div class="col-lg-4 px-3 py-lg-0 pb-4">
      <div class="story-card">
        <img class="story-card__img" src="assets/img/backgroud-1.jpg" alt="">
        <div class="story-card__content p-4">
          <div class="story-card__timestap">
            <i class="fa fa-regular fa-clock"></i>
            June 01.2022
          </div>
          <h2 class="story-card__heading my-3">Story Heading</h2>
          <p>Lorem, ipsum dolor sit amet consectetur elit. Sequi totam dignissimos quam in nemo. Blanditiis
            pariatur voluptate eveniet adipisci animi. Praesentium obcaecati vel dolorem dolores in molestiae corporis
            placeat aperiam tenetur facere ipsam similique iusto distinctio quam voluptatibus animi, rem laborum,
            nesciunt quasi enim, nulla illum. Libero ... <a href="#">Read More</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 px-3 py-lg-0 pb-4">
      <div class="story-card">
        <img class="story-card__img" src="assets/img/backgroud-1.jpg" alt="">
        <div class="story-card__content p-4">
          <div class="story-card__timestap">
            <i class="fa fa-regular fa-clock"></i>
            June 01.2022
          </div>
          <h2 class="story-card__heading my-3">Story Heading</h2>
          <p>Lorem, ipsum dolor sit amet consectetur elit. Sequi totam dignissimos quam in nemo. Blanditiis
            pariatur voluptate eveniet adipisci animi. Praesentium obcaecati vel dolorem dolores in molestiae corporis
            placeat aperiam tenetur facere ipsam similique iusto distinctio quam voluptatibus animi, rem laborum,
            nesciunt quasi enim, nulla illum. Libero ... <a href="#">Read More</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 px-3">
      <div class="story-card">
        <img class="story-card__img" src="assets/img/backgroud-1.jpg" alt="">
        <div class="story-card__content p-4">
          <div class="story-card__timestap">
            <i class="fa fa-regular fa-clock"></i>
            June 01.2022
          </div>
          <h2 class="story-card__heading my-3">Story Heading</h2>
          <p>Lorem, ipsum dolor sit amet consectetur elit. Sequi totam dignissimos quam in nemo. Blanditiis
            pariatur voluptate eveniet adipisci animi. Praesentium obcaecati vel dolorem dolores in molestiae corporis
            placeat aperiam tenetur facere ipsam similique iusto distinctio quam voluptatibus animi, rem laborum,
            nesciunt quasi enim, nulla illum. Libero ... <a href="#">Read More</a></p>
        </div>
      </div>
    </div>

  </div>
</div>