/* background colors */
$primary-bg: #a0d83e;
$secondary-bg: #cb7d4b;

/*text colors*/
$primary-txt: #a0d83e;
$secondary-txt: #cb7d4b;

/*usual colors*/
$primary: #a0d83e;
$secondary: #cb7d4b;

/* usual colors */
$white: white;
$black: rgb(36, 36, 36);
$gray: #666;
.primary-txt {
  color: $primary-txt;
}
.primary-bg {
  background-color: $primary-bg;
  color: $white;
}
.secondary-txt {
  color: $secondary-txt;
}
.secondary-bg {
  background-color: $secondary-bg;
  color: $white;
}
