<div class="container-fluid mt-5">
  <div class="row who-we-are">
    <div class="col-md-6 who-we-are__img">
    </div>
    <div class="col-md-6 who-we-are__content text-white py-5 px-md-5 px-4">
      <h1 class="main-heading">Who We Care</h1>
      <hr class="underline mx-0">
      <p class="who-we-are__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste et itaque qui illum sit
        amet
        necessitatibus
        quidem modi eveniet corrupti accusantium minima, unde cumque recusandae rem accusamus tempora repellat commodi?
        quidem modi eveniet corrupti accusantium minima, unde cumque recusandae rem accusamus tempora repellat commodi?
      </p>
      <p class="who-we-are__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste et itaque qui illum sit
        amet necessitatibus
        quidem modi eveniet corrupti accusantium minima, unde cumque recusandae rem accusamus tempora repellat commodi?
        quidem modi eveniet corrupti accusantium minima, unde cumque recusandae rem accusamus tempora repellat commodi?
      </p>
      <button class="button-primary mx-0">Learn More</button>
    </div>
  </div>
</div>