<footer class="footer text-center pt-5 pb-3">
  <div class="footer__content px-3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti non recusandae, porro possimus soluta ullam
      illum quaerat ut enim perspiciatis voluptatibus, alias molestiae accusamus, earum et. Rem deserunt harum non!</p>
  </div>
  <div class="footer__social">
    <div class="footer__social-links">
      <a class="footer__social-link">
        <i class="fa-brands fa-facebook-square"></i>
      </a>
      <a class="footer__social-link">
        <i class="fa-brands fa-twitter-square"></i>
      </a>
      <a class="footer__social-link">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="footer__navs my-4">
    <div class="footer__navs-list">
      <a class="footer__navs-list-item">
        Events
      </a>
      <a class="footer__navs-list-item">
        Gallery
      </a>
      <a class="footer__navs-list-item">
        About Us
      </a>
      <a class="footer__navs-list-item">
        Contact Us
      </a>
    </div>
  </div>
  <hr>
  &copy; 2022 COURSE OF HELP ORG.
</footer>