<div class="full-background-image">
  <div class="background-mask d-flex justify-content-center align-items-center text-center text-white">
    <div class="container">
      <div class="home-content ">
        <h1 class="home-content__heading main-heading">Donations that changes the world</h1>
        <p class="home-content__desc main-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quam
          non
          praesentium. Autem, doloremque! Et,
          magni. Maxime reiciendis qui dolore rerum dolores pariatur quidem corporis veniam, quae officiis. Sint
          accusamus suscipit eaque aliquid nobis, nisi natus aspernatur, rem, in ad voluptates harum tempora laboriosam!
          Alias nisi repellat rerum ducimus eligendi.</p>
      </div>
    </div>
  </div>
</div>
<app-hero></app-hero>
<app-stories-landing></app-stories-landing>
<app-who-we-are-landing></app-who-we-are-landing>