<div class="full-background-image">
  <div class="background-mask d-flex justify-content-center align-items-center text-center text-white">
    <div class="container p-0">
      <div class="home-content ">
        <h1 class="home-content__heading main-heading">About us</h1>
        <p class="home-content__desc main-content">Course of help is a registered non profit/Non governmental
          organisation was found in 2015. It promotes empathy and compassion for all living beings and care for the
          environment by educating young people through its humane education programs and workshops.</p>
        <p class="home-content__desc main-content">We also Collabrate with different organisation who have similar
          goals.</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row px-4 pb-4">
    <div class="col-md-6 text-center text-md-end visionMission">
      <div class="row me-md-3">
        <div class="col-12">
          <h2 class="main-heading">Vision</h2>
          <hr class="underline me-md-0 ms-md-auto">
          <p class="who-we-are__desc">To protect nature by enhancing its flora and fauna, to protect animals and to
            empower people on various issues.
          </p>
        </div>
        <div class="col-12 mt-md-5">
          <h2 class="main-heading">Mission</h2>
          <hr class="underline me-md-0 ms-md-auto">
          <p class="who-we-are__desc">To rescue, adopt and rehabilitate animals, To create sustainable, well being,
            climate resilence environment by promoting the environment education and awareness. Inclusion of works for
            the social development and integration of underprivileged individuals, groups and communities.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 objectives">
      <div class="ms-md-3">
        <h2 class="main-heading text-center text-md-start">Objectives / Goals</h2>
        <hr class="underline mx-md-0">
        <ul>
          <li><i class="fa-solid fa-arrow-right-long"></i><span>To protect the environment by creating awareness to the
              society in the importance of planting and saving
              tress, express our concern to the environment.</span></li>
          <li><i class="fa-solid fa-arrow-right-long"></i><span>To raise human perceptions of the moral status of
              animals
              by recognizing animals as sentient beings.</span></li>
          <li><i class="fa-solid fa-arrow-right-long"></i><span>We are dedicated to rescuing, treating, rehabilitating
              and
              caring for all animals.</span></li>
          <li><i class="fa-solid fa-arrow-right-long"></i><span>To bring about a change consciousness regarding animals
              and nature, especially for stray, neglected,
              abandoned or abused animals.</span></li>
          <li><i class="fa-solid fa-arrow-right-long"></i><span>To develop regional programmes for environmental
              sustainability.</span></li>
          <li><i class="fa-solid fa-arrow-right-long"></i><span>Inclusion of works for the social development and
              integration of underprivileged individuals, groups and
              communities.</span></li>
          <li><i class="fa-solid fa-arrow-right-long"></i><span>To collaborate with other NGO's working towards similar
              goals.</span></li>
          <li><i class="fa-solid fa-arrow-right-long"></i><span>To raise sufficient funds to facilitate the achievement
              of
              our stated aims.</span></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="main-content text-center mt-4">We believe that every person has the right to access resources and
    opportunities
    in order to
    live and develop
    with dignity and to become an active and contributing member of our society.</p>
</div>
<div class="ourTeam text-center px-4 py-5 mt-5">
  <h2 class="main-heading">Our <span>Members</span></h2>
  <hr class="underline">
  <div class="team-members">
    <div class="team-member">
      <div class="team-member-img"><img src="assets/img/people.png" alt=""></div>
      <div class="team-member-content">
        <div class="team-member-name">Ram Charith Teja Jukanti</div>
        <div class="team-member-position">Founder (President)</div>
      </div>
    </div>
    <div class="team-member">
      <div class="team-member-img"><img src="assets/img/people.png" alt=""></div>
      <div class="team-member-content">
        <div class="team-member-name">Vandana Rayabarapu</div>
        <div class="team-member-position">Vice president</div>
      </div>
    </div>
    <div class="team-member">
      <div class="team-member-img"><img src="assets/img/people.png" alt=""></div>
      <div class="team-member-content">
        <div class="team-member-name">Ramya Karnakanti</div>
        <div class="team-member-position">General secretary</div>
      </div>
    </div>
    <div class="team-member">
      <div class="team-member-img"><img src="assets/img/people.png" alt=""></div>
      <div class="team-member-content">
        <div class="team-member-name">Ravi Anand veludandi</div>
        <div class="team-member-position">Joint. Secretary</div>
      </div>
    </div>
    <div class="team-member">
      <div class="team-member-img"><img src="assets/img/people.png" alt=""></div>
      <div class="team-member-content">
        <div class="team-member-name">Sai Dhanush</div>
        <div class="team-member-position">Treasurer</div>
      </div>
    </div>
    <div class="team-member">
      <div class="team-member-img"><img src="assets/img/people.png" alt=""></div>
      <div class="team-member-content">
        <div class="team-member-name">Sai Ram Ponnala</div>
        <div class="team-member-position">Executive member</div>
      </div>
    </div>
    <div class="team-member">
      <div class="team-member-img"><img src="assets/img/people.png" alt=""></div>
      <div class="team-member-content">
        <div class="team-member-name">Monika Barigela</div>
        <div class="team-member-position">Executive member</div>
      </div>
    </div>
  </div>
</div>