@import "assets/scss/theme/export";
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "BrandonText", Arial, Helvetica, sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// *:focus {
//   outline: 3px solid $secondary !important;
// }
/*removing underline for all anchor tags*/
a {
  text-decoration: none !important;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
}
/* selection background*/
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: $primary-txt;
}

::selection {
  color: white;
  background: $primary-txt;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Radikal";
}
h1 {
  &.main-heading {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    @include media-down(md) {
      font-size: 32px;
    }
  }
}
h2 {
  &.main-heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    @include media-down(md) {
      font-size: 24px;
    }
  }
}
p {
  font-size: 16px;
  line-height: 24px;
  &.main-content {
    max-width: 800px;
    margin: auto;
  }
}
hr {
  &.underline {
    height: 4px;
    background-color: $secondary-bg;
    opacity: 1;
    max-width: 200px;
    margin: 24px auto;
    border: none;
  }
}
.text-right {
  text-align: right;
}