<div class="container">
  <div class="row wrapper">
    <div class="col--12 col-md-4 box">
      <div class="">
        <img class="box__icon" src="assets/img/heart.png" alt="">
      </div>
      <p class="px-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur illo, tempore perspiciatis
        eaque quaerat temporibus atque adipisci consequatur aut numquam itaque, aperiam, aliquam nam odio velit
        doloremque distinctio? Delectus, illo.</p>
    </div>
    <div class="col--12 col-md-4 box">
      <div class="">
        <img class="box__icon" src="assets/img/heart.png" alt="">
      </div>
      <p class="px-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur illo, tempore perspiciatis
        eaque quaerat temporibus atque adipisci consequatur aut numquam itaque, aperiam, aliquam nam odio velit
        doloremque distinctio? Delectus, illo.</p>
    </div>
    <div class="col--12 col-md-4 box">
      <div class="">
        <img class="box__icon" src="assets/img/heart.png" alt="">
      </div>
      <p class="px-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur illo, tempore perspiciatis
        eaque quaerat temporibus atque adipisci consequatur aut numquam itaque, aperiam, aliquam nam odio velit
        doloremque distinctio? Delectus, illo.</p>
    </div>
  </div>
</div>